@import url("https://logan-ui.netlify.app/library/component.css");

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    position: relative;
}

@keyframes container-animation {
    0% {box-shadow: none;}
    100% {box-shadow: 0px 0px 20px 5px #39FF14;}
}

@keyframes text-animation {
    0% {text-shadow: none;}
    100% {text-shadow: 4px 4px 15px #39FF14;}
}


body{
    background-color: #121212;
    margin-top: 2rem;
    width: 100vw;
    height: max-content;
}

.title{
    transition: 350ms;
    animation: text-animation 1s infinite alternate;
    font-size: 2rem; 
    color: #86FF70;
}

.body__container{
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.thumbnail__container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.thumbnail-card{
    margin-top: 2rem;
    width: max-content;
    padding: 12px;
    border-radius: 1.2rem;
    border-width: 4px;
    border-color: #24E500;
    border-style: solid;
    background-color: #282828;
    animation: container-animation 1s infinite alternate;
}

.divider{
    margin-top: 0.8rem;
    width: 80%;
    padding-top: 0.2rem;
    background-color: #24E500;  
    animation: container-animation 1s infinite alternate;
}

.thumbnail-card img{
    max-width: 700px;
}